<section class="site-content site-section">
    <div class="container">
        <!-- Project Info -->
        <div class="row">
            <!-- Project Slider -->
            <div class="col-sm-5 site-block">
                <div id="project-carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner text-center">
                        <div class="active item">
                            <%= image_tag "fictions/f1.png" %>
                        </div>
                        <div class="item">
                            <%= image_tag "fictions/f1.png" %>
                        </div>
                        <div class="item">
                            <%= image_tag "fictions/f1.png" %>
                        </div>
                    </div>
                    <!-- END Wrapper for slides -->

                    <!-- Controls -->
                    <a class="left carousel-control" href="#project-carousel" data-slide="prev">
                        <span>
                            <i class="fa fa-chevron-left"></i>
                        </span>
                    </a>
                    <a class="right carousel-control" href="#project-carousel" data-slide="next">
                        <span>
                            <i class="fa fa-chevron-right"></i>
                        </span>
                    </a>
                    <!-- END Controls -->
                </div>

                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td style="width: 50%;"><strong>Client</strong></td>
                            <td class="text-right">Company Inc</td>
                        </tr>
                        <tr>
                            <td><strong>Category</strong></td>
                            <td class="text-right">Web Design</td>
                        </tr>
                        <tr>
                            <td><strong>Website</strong></td>
                            <td class="text-right"><a href="javascript:void(0)">http://example.com</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- END Project Slider -->

            <!-- Project Details -->
            <div class="col-sm-7 site-block">
                <h3 class="site-heading"><strong><%= t("home_infor.quest_first") %></strong><%= t("home_infor.breast_cancer") %></h3>
                   <%= @about.description.html_safe %>
             </div>
            <!-- END Project Details -->
        </div>
        <!-- END Project Info -->
        <hr>
         <!-- Key Features -->
            <section class="site-content site-section">
                <div class="container">
                    <div class="row">
                        <% @fictions.each do |fiction| %>
                            <div class="col-sm-4 site-block">
                                <h3 class="site-heading"><i class="fa fa-arrow-right animation-floatingHor"></i> <strong><%= fiction.name %></strong></h3>
                                <p class="remove-margin"><%= fiction.description.html_safe %></p>
                            </div>
                        <% end %>
                    </div>
                    <hr>
                </div>
            </section>
            <!-- END Key Features -->
    </div>

</section>
<!-- END Content -->
