  <!-- Page Container -->
        <!-- In the PHP version you can set the following options from inc/config file -->
        <!-- 'boxed' class for a boxed layout -->
        <div id="page-container">

            <!-- Home Carousel -->
            <div id="home-carousel" class="carousel carousel-home slide" data-ride="carousel" data-interval="5000">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="active item">
                        <section class="site-section site-section-light site-section-top themed-background-default">
                            <div class="container">
                                <h1 class="text-center animation-slideDown hidden-xs"><strong>A complete web solution for your awesome project</strong></h1>
                                <h2 class="text-center animation-slideUp push hidden-xs">Bring your project to life months sooner</h2>
                                <p class="text-center animation-fadeIn">
                                    <%= image_tag "home/ca1.jpg"%>
                                </p>
                            </div>
                        </section>
                    </div>
                    <div class="item">
                        <section class="site-section site-section-light site-section-top themed-background-fire">
                            <div class="container">
                                <h1 class="text-center animation-fadeIn360 hidden-xs"><strong>Featuring a Powerful and Flexible layout</strong></h1>
                                <h2 class="text-center animation-fadeIn360 push hidden-xs">Letting you focus on creating your project</h2>
                                <p class="text-center animation-fadeInLeft">
                                    <%= image_tag "home/ca2.jpg" %>
                                </p>
                            </div>
                        </section>
                    </div>
                    <div class="item">
                        <section class="site-section site-section-light site-section-top themed-background-amethyst">
                            <div class="container">
                                <h1 class="text-center animation-hatch hidden-xs"><strong>Fully Responsive and Retina Ready</strong></h1>
                                <h2 class="text-center animation-hatch push hidden-xs">The UI will look great and crisp</h2>
                                <p class="text-center animation-hatch">
                                    <%= image_tag "home/ca3.jpg" %>
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- END Wrapper for slides -->

                <!-- Controls -->
                <a id = "left-carousel" class="left carousel-control" href="#home-carousel" data-slide="prev">
                    <span>
                        <i class="fa fa-chevron-left"></i>
                    </span>
                </a>
                <a id = "right-carousel" class="right carousel-control" href="#home-carousel" data-slide="next">
                    <span>
                        <i class="fa fa-chevron-right"></i>
                    </span>
                </a>
                <!-- END Controls -->
            </div>
            <!-- END Home Carousel -->

            <!-- Action -->
            <section class="site-content site-section">
                <div class="container">
                    <div class="site-block text-center">
                        <%= link_to  new_user_session_path, class: "btn btn-lg btn-primary" do %>
                            <i class="fa fa-share"></i>
                            <%= t "signin" %>
                        <% end %>
                    </div>
                    <hr>
                </div>
            </section>
            <!-- END Action -->

            <!-- Promo #1 -->
            <section class="site-content site-section site-slide-content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInRight" data-element-offset="-180">
                            <%= image_tag "home/t5.jpg", class: "img-responsive" %>
                        </div>
                        <div class="col-sm-6 col-md-5 col-md-offset-1 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInLeft" data-element-offset="-180">
                            <h3 class="h2 site-heading site-heading-promo"><strong><%= t("home_infor.quest_first") %></strong><%= t("home_infor.breast_cancer") %></h3>
                            <p class="promo-content">
                                <%= t "home_infor.summary1" %>
                                <%= link_to t("home_infor.learn_more"), breast_cancer_path %>
                            </p>
                        </div>
                    </div>
                    <hr>
                </div>
            </section>
            <!-- END Promo #1 -->

            <!-- Promo #2 -->
            <section class="site-content site-section site-slide-content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-5 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInRight" data-element-offset="-180">
                            <h3 class="h2 site-heading site-heading-promo"><strong><%= t("home_infor.quest_first") %></strong><%= t("home_infor.data_mining") %></h3>
                            <p class="promo-content">
                                <%= t "home_infor.summary2" %>
                                <%= link_to t("home_infor.learn_more"), data_mining_path %>
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-offset-1 site-block visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInLeft" data-element-offset="-180">
                            <%= image_tag "home/t3.jpg", class: "img-responsive" %>
                        </div>
                    </div>
                    <hr>
                </div>
            </section>
            <!-- END Promo #2 -->

            <!-- Testimonials -->
            <section class="site-content site-section">
                <div class="container">
                    <!-- Testimonials Carousel -->
                    <div id="testimonials-carousel" class="carousel slide carousel-html" data-ride="carousel" data-interval="4000">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#testimonials-carousel" data-slide-to="1"></li>
                            <li data-target="#testimonials-carousel" data-slide-to="2"></li>
                        </ol>
                        <!-- END Indicators -->

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner text-center">
                            <div class="active item">
                                <p>
                                    <%= image_tag "home/a1.jpg", class: "img-circle"%>
                                </p>
                                <blockquote class="no-symbol">
                                    <p><%= t "home_infor.sen1" %></p>
                                    <footer><strong><%= t "home_infor.author1" %></strong>, <%= t "home_infor.title1" %></footer>
                                </blockquote>
                            </div>
                            <div class="item">
                                <p>
                                    <%= image_tag "home/a1.jpg", class: "img-circle"%>
                                </p>
                                <blockquote class="no-symbol">
                                    <p><%= t "home_infor.sen2" %></p>
                                    <footer><strong><%= t "home_infor.author1" %></strong>, <%= t "home_infor.title1" %></footer>
                                </blockquote>
                            </div>
                            <div class="item">
                                <p>
                                    <%= image_tag "home/a1.jpg", class: "img-circle"%>
                                </p>
                                <blockquote class="no-symbol">
                                    <p><%= t "home_infor.sen3" %></p>
                                    <footer><strong><%= t "home_infor.author1" %></strong>, <%= t "home_infor.title1" %></footer>
                                </blockquote>
                            </div>
                        </div>
                        <!-- END Wrapper for slides -->
                    </div>
                    <!-- END Testimonials Carousel -->
                </div>
            </section>
            <!-- END Testimonials -->

            <!-- Sign Up Action -->
            <section class="site-content site-section site-section-light themed-background-dark-night">
                <div class="container">
                    <div class="site-block text-center">
                        <form action="features.html" method="post" class="form-horizontal" onsubmit="return false;">
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="input-group input-group-lg">
                                        <div class="input-group-btn">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <!-- END Sign Up Action -->

            <!-- Quick Stats -->
            <section class="site-content site-section themed-background">
                <div class="container">
                    <!-- Stats Row -->
                    <!-- CountTo (initialized in js/app.js), for more examples you can check out https://github.com/mhuggins/jquery-countTo -->
                    <div class="row" id="counters">
                        <div class="col-sm-4">
                            <div class="counter site-block">
                                <span data-toggle="countTo" data-to= "1500000" data-after="+"></span>
                                <small><%= t "home_infor.statistic1" %></small>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="counter site-block">
                                <span data-toggle="countTo" data-to= "23" data-after="%"></span>
                                <small><%= t "home_infor.statistic2" %></small>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="counter site-block">
                                <span data-toggle="countTo" data-to= "50" data-after="%"></span>
                                <small><%= t "home_infor.statistic3" %></small>
                            </div>
                        </div>
                    </div>
                    <!-- END Stats Row -->
                </div>
            </section>
            <!-- END Quick Stats -->
        </div>
        <!-- END Page Container -->

        <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
        <a href="#" id="to-top"><i class="fa fa-angle-up"></i></a>
