<tr id="data-cancer-#{data_cancer.id}">
  <td><%= data_cancer.clump_thickness%></td>
  <td><%= data_cancer.uniformity_of_cell_size%></td>
  <td><%= data_cancer.uniformity_of_cell_shape%></td>
  <td><%= data_cancer.marginal_adhesion%></td>
  <td><%= data_cancer.single_epithelial_cell_size%></td>
  <td><%= data_cancer.bare_nuclei%></td>
  <td><%= data_cancer.band_romatin%></td>
  <td><%= data_cancer.nomal_nucleoli%></td>
  <td><%= data_cancer.mitoses%></td>
  <td><%= data_cancer.classification.name%></td>
</tr>
