<tr id="data-cancer-#{data_cancer.id}">
  <td>
    <%= current_index @data_cancers.current_page, Settings.per_page.admin.data_cancer, data_cancer_counter %>
  </td>
  <td><%= "A#{data_cancer.clump_thickness}" %></td>
  <td><%= "B#{data_cancer.uniformity_of_cell_size}"%></td>
  <td><%= "C#{data_cancer.uniformity_of_cell_shape}" %></td>
  <td><%= "D#{data_cancer.marginal_adhesion }"%></td>
  <td><%= "E#{data_cancer.single_epithelial_cell_size}" %></td>
  <td><%= "F#{data_cancer.bare_nuclei}" %></td>
  <td><%= "G#{data_cancer.bland_chromatin}" %></td>
  <td><%= "H#{data_cancer.normal_nucleoli}" %></td>
  <td><%= "I#{data_cancer.mitoses}" %></td>
  <td><%= data_cancer.classification_name %></td>
  <td class="text-center">
      <div class="btn-group btn-group-xs">
        <%= link_to admin_data_cancer_path(data_cancer), class: "btn btn-default" do %>
          <i class="fa fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_data_cancer_path(data_cancer), class: "btn btn-warning" do %>
          <i class="fa fa-pencil"></i>
        <% end %>
        <%= link_to admin_data_cancer_path(data_cancer),
          method: :delete, class: "btn btn-danger", data: {confirm: t("are_you_sure")} do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </div>
    </td>
</tr>
