<%= simple_form_for [:admin, @data_cancer] do |f| %>
<div class="col-md-6 col-sm-6 col-xs-6 personal-info">
  <div class="fix-clear form-group">
    <%= f.label :clump_thickness, t("clump_thickness"), class: "col-md-3 control-label" %>
    <div class="col-md-5">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-star"></i>
        </div>
        <%= f.select :clump_thickness, get_fiction_by_name(Settings.fiction.clump_thickness).collect {|value_fiction| [value_fiction.name, value_fiction.value]}, {}, {class: "form-control input-md"} %>
      </div>
      <ul class = "errors">
        <% @data_cancer.errors[:clump_thickness].each do |err|%>
        <li><span class="help-block"><%= t("clump_thickness") + " #{err}" %></span></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="fix-clear form-group">
    <%= f.label :uniformity_of_cell_size, t("uniformity_of_cell_size"), class: "col-md-3 control-label" %>
    <div class="col-md-5">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-star"></i>
        </div>
        <%= f.select :uniformity_of_cell_size, get_fiction_by_name(Settings.fiction.uniformity_of_cell_size).collect {|value_fiction| [value_fiction.name, value_fiction.value]}, {}, {class: "form-control input-md"} %>
      </div>
      <ul class = "errors">
        <% @data_cancer.errors[:uniformity_of_cell_size].each do |err|%>
        <li><span class="help-block"><%= t("uniformity_of_cell_size") + " #{err}" %></span></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="fix-clear form-group">
    <%= f.label :uniformity_of_cell_shape, t("uniformity_of_cell_shape"), class: "col-md-3 control-label" %>
    <div class="col-md-5">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-star"></i>
        </div>
        <%= f.select :uniformity_of_cell_shape, get_fiction_by_name(Settings.fiction.uniformity_of_cell_shape).collect {|value_fiction| [value_fiction.name, value_fiction.value]}, {}, {class: "form-control input-md"} %>
      </div>
      <ul class = "errors">
        <% @data_cancer.errors[:uniformity_of_cell_shape].each do |err|%>
        <li><span class="help-block"><%= t("uniformity_of_cell_shape") + " #{err}" %></span></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="fix-clear form-group">
    <%= f.label :marginal_adhesion, t("marginal_adhesion"), class: "col-md-3 control-label" %>
    <div class="col-md-5">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-star"></i>
        </div>
        <%= f.select :marginal_adhesion, get_fiction_by_name(Settings.fiction.marginal_adhesion).collect {|value_fiction| [value_fiction.name, value_fiction.value]}, {}, {class: "form-control input-md"} %>
      </div>
      <ul class = "errors">
        <% @data_cancer.errors[:marginal_adhesion].each do |err|%>
        <li><span class="help-block"><%= t("marginal_adhesion") + " #{err}" %></span></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="fix-clear form-group">
    <%= f.label :single_epithelial_cell_size, t("single_epithelial_cell_size"), class: "col-md-3 control-label" %>
    <div class="col-md-5">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-star"></i>
        </div>
        <%= f.select :single_epithelial_cell_size, get_fiction_by_name(Settings.fiction.single_epithelial_cell_size).collect {|value_fiction| [value_fiction.name, value_fiction.value]}, {}, {class: "form-control input-md"} %>
      </div>
      <ul class = "errors">
        <% @data_cancer.errors[:single_epithelial_cell_size].each do |err|%>
        <li><span class="help-block"><%= t("single_epithelial_cell_size") + " #{err}" %></span></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="col-md-6 col-sm-6 col-xs-6 personal-info">
  <div class="fix-clear form-group">
    <%= f.label :bare_nuclei, t("bare_nuclei"), class: "col-md-3 control-label" %>
    <div class="col-md-5">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-star"></i>
        </div>
        <%= f.select :bare_nuclei, get_fiction_by_name(Settings.fiction.bare_nuclei).collect {|value_fiction| [value_fiction.name, value_fiction.value]}, {}, {class: "form-control input-md"} %>
      </div>
      <ul class = "errors">
        <% @data_cancer.errors[:bare_nuclei].each do |err|%>
        <li><span class="help-block"><%= t("bare_nuclei") + " #{err}" %></span></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="fix-clear form-group">
    <%= f.label :bland_chromatin, t("band_romatin"), class: "col-md-3 control-label" %>
    <div class="col-md-5">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-star"></i>
        </div>
        <%= f.select :bland_chromatin, get_fiction_by_name(Settings.fiction.bland_chromatin).collect {|value_fiction| [value_fiction.name, value_fiction.value]}, {}, {class: "form-control input-md"} %>
      </div>
      <ul class = "errors">
        <% @data_cancer.errors[:bland_chromatin].each do |err|%>
        <li><span class="help-block"><%= t("band_romatin") + " #{err}" %></span></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="fix-clear form-group">
    <%= f.label :normal_nucleoli, t("nomal_nucleoli"), class: "col-md-3 control-label" %>
    <div class="col-md-5">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-star"></i>
        </div>
        <%= f.select :normal_nucleoli, get_fiction_by_name(Settings.fiction.normal_nucleoli).collect {|value_fiction| [value_fiction.name, value_fiction.value]}, {}, {class: "form-control input-md"} %>
      </div>
      <ul class = "errors">
        <% @data_cancer.errors[:normal_nucleoli].each do |err|%>
        <li><span class="help-block"><%= t("nomal_nucleoli") + " #{err}" %></span></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="fix-clear form-group">
    <%= f.label :mitoses, t("mitoses"), class: "col-md-3 control-label" %>
    <div class="col-md-5">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-star"></i>
        </div>
        <%= f.select :mitoses, get_fiction_by_name(Settings.fiction.mitoses).collect {|value_fiction| [value_fiction.name, value_fiction.value]}, {}, {class: "form-control input-md"} %>
      </div>
      <ul class = "errors">
        <% @data_cancer.errors[:mitoses].each do |err|%>
        <li><span class="help-block"><%= t("mitoses") + " #{err}" %></span></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="fix-clear form-group">
    <%= f.label :classification_id, t("classification"), class: "col-md-3 control-label" %>
    <div class="col-md-5">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-star"></i>
        </div>
        <%= f.select :classification_id, Classification.all.collect {|classification| [classification.name, classification.id]}, {}, {class: "form-control input-md"} %>
      </div>
      <ul class = "errors">
        <% @data_cancer.errors[:classification_id].each do |err|%>
        <li><span class="help-block"><%= t("classification") + " #{err}" %></span></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="fix-clear form-group row">
  <label class="col-md-3 control-label"></label>
  <div class="col-md-offset-4 col-md-4">
    <%= f.submit t("register_account"),
    class: "btn btn-primary col-md-12" %>
  </div>
</div>
<% end %>
