<% provide :title, t("admin.data_cancers.title") %>
<div class = "row">
  <div class = "block-content-full">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= t"admin.data_cancers.list_data_cancers" %>
        </h3>
      </div>
      <div class="panel-body">
        <% if current_user.admin? %>
        <div class="row manage_user">
          <div class="col-md-6">
            <div class="users_button_group">
              <%= link_to create_knowledge_admin_knowledges_path,
                class: "btn btn-md btn-success float_right create_rule" do %>
                <i class="gi gi-plus"></i> <%= t "admin.knowledges.create_knowledges" %>
              <% end %>
              <%= link_to admin_rules_path, method: :Post,
                class: "btn btn-md btn-success float_right create_rule" do %>
                <i class="gi gi-plus"></i> <%= t "admin.rules.create_rules_c45" %>
              <% end %>
              <%= link_to admin_rule_id3s_path, method: :Post,
                class: "btn btn-md btn-success float_right create_rule" do %>
                <i class="gi gi-plus"></i> <%= t "admin.rules.create_rules_id3" %>
              <% end %>
            </div>
          </div>
          <div class = "col-md-offset-5 col-md-1">
            <%= link_to new_admin_data_cancer_path, class: "btn btn-md btn-success float_right create_rule" do %>
              <i class="gi gi-plus"></i> <%= t "admin.data_cancers.create" %>
            <% end %>
          </div>
        </div>
        <% end %>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class = "header-table-data-cancer">
              <%= render "table_header" %>
            </thead>
            <tbody class = "data-cancers-content">
              <% if @data_cancers.present? %>
                <%= render(@data_cancers) %>
              <% else %>
                <div class = "col-md-4 text-danger">
                  <i class="fa fa-fw fa-exclamation-triangle"></i>
                  <strong><%= t(".data_not_find") %></strong>
                </div>
              <% end %>
            </tbody>
          </table>
        </div>
        <center class = "paginate-items"><%= paginate @data_cancers %></center>
      </div>
    </div>
  </div>
</div>
