<% provide :title, t("admin.users.information_user") %>
<div class = "row">
  <div class = "block-title">
  </div>
  <div class = "block-content-full">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= t"admin.data_cancers.information_data_cancer" %>
        </h3>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>
                <strong>
                  <i class="fa fa-star"></i> <%= t("clump_thickness") %>
                </strong>
              </td>
              <td><%= "A#{@data_cancer.clump_thickness}" %></td>
            </tr>
            <tr>
              <td>
                <strong>
                  <i class="fa fa-star"></i> <%= t("uniformity_of_cell_size") %>
                </strong>
              </td>
              <td><%= "B#{@data_cancer.uniformity_of_cell_size}"%></td>
            </tr>
            <tr>
              <td>
                <strong>
                  <i class="fa fa-star"></i> <%= t("uniformity_of_cell_shape") %>
                </strong>
              </td>
              <td><%= "C#{@data_cancer.uniformity_of_cell_shape}" %></td>
            </tr>
            <tr>
              <td>
                <strong>
                  <i class="fa fa-star"></i> <%= t("marginal_adhesion") %>
                </strong>
              </td>
              <td>
                <%= "D#{@data_cancer.marginal_adhesion }"%>
              </td>
            </tr>

            <tr>
              <td>
                <strong>
                  <i class="fa fa-star"></i> <%=  t("single_epithelial_cell_size") %>
                </strong>
              </td>
              <td>
                <%= "E#{@data_cancer.single_epithelial_cell_size}" %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <i class="fa fa-star"></i> <%= t("bare_nuclei") %>
                </strong>
              </td>
              <td>
                <%= "F#{@data_cancer.bare_nuclei}" %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <i class="fa fa-star"></i> <%= t("bland_chromatin") %>
                </strong>
              </td>
              <td>
                <%= "G#{@data_cancer.bland_chromatin}" %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <i class="fa fa-star"></i> <%= t("normal_nucleoli") %>
                </strong>
              </td>
              <td>
                <%= "H#{@data_cancer.normal_nucleoli}" %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <i class="fa fa-star"></i> <%= t("mitoses") %>
                </strong>
              </td>
              <td>
                <%= "I#{@data_cancer.mitoses}" %>
              </td>
            </tr>
            <tr>
              <td>
                <strong>
                  <i class="fa fa-star"></i> <%= t("result") %>
                </strong>
              </td>
              <td>
                <%= @data_cancer.classification.name %>
              </td>
            </tr>
          </tbody>
        </table>
        <% if current_user.admin? %>
          <%= link_to t("admin.data_cancers.update_data_cancer"), edit_admin_data_cancer_path,
            class: "btn btn-primary" %>
          <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <% if current_user.admin?%>
          <%= link_to admin_data_cancers_path, class: "btn btn-default" do %>
            <i class="fa fa-chevron-left"></i> <%= t "list_data_cancer" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
