<tr id="diagnose-#{diagnose.id}">
  <td>
    <%= current_index @diagnoses.current_page, Settings.per_page.admin.diagnose, diagnose_counter %>
  </td>
  <td><%= l diagnose.created_at, format: :long %></td>
  <td><%= diagnose.patient_patient_code %></td>
  <td><%= diagnose.patient_name %></td>
  <td>
    <% if diagnose.classification_id.present? %>
      <% if diagnose.classification_id == 1 %>
        <a href="javascript:void(0)" class="label label-success animation-pulse"><%= diagnose.classification_name %></a>
      <% else %>
        <a href="javascript:void(0)" class="label label-danger animation-pulse"><%= diagnose.classification_name %></a>
      <% end %>
    <% else %>
      <a href="javascript:void(0)" class="label label-warning animation-pulse"><%= t "admin.diagnoses.not_condition" %></a>
    <% end %>
  </td>
  <td><%= get_str_type_diagnose diagnose %></td>
  <td><%= diagnose.owner_name %></td>

  <td class="text-center">
    <div class="btn-group btn-group-xs">
      <%= link_to diagnose, class: "btn btn-default" do %>
      <i class="fa fa-eye"></i>
      <% end %>
      <% if current_user.admin? || current_user.owner? %>
        <%= link_to  edit_diagnosis_path(diagnose), class: "btn btn-warning" do %>
        <i class="fa fa-pencil"></i>
        <% end %>

        <%= link_to diagnose,
        method: :delete, class: "btn btn-danger", data: {confirm: t("are_you_sure")} do %>
        <i class="fa fa-trash"></i>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
