<% provide :title, t("admin.diagnoses.title") %>


<div class = "row">
  <div class = "block-content-full">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= t"admin.diagnoses.list_diagnoses"%>
        </h3>
      </div>
      <div class="panel-body">
        <% if current_user.admin? %>
        <div class="row manage_user">
          <div class="col-md-12">
            <div class="users_button_group">
            <%= link_to new_admin_diagnosis_path,
              class: "btn btn-md btn-success float_right" do %>
              <i class="gi gi-plus"></i> <%= t "admin.diagnoses.create_diagnose" %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class = "header-table-diagnoses">
              <%= render "table_header" %>
            </thead>
            <tbody class = "diagnoses-content">
              <%= render(@diagnoses) || t(".data_not_find") %>
            </tbody>
          </table>
        </div>
        <center class = "paginate-items"><%= paginate @diagnoses %></center>
      </div>
    </div>
  </div>
</div>

