<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= t"admin.test_algorithms.id3_algorithm" %>
    </h3>
  </div>
  <div class="panel-body">
    <% if @id3_algorithm[:training].present? %>
    <div class = "col-md-6">
      <%= pie_chart @id3_algorithm[:training], colors: ["rgb(144, 237, 125)", "rgb(247, 163, 92)", "rgb(255, 117, 153)" ], library: {legend: {labelFormat: '{name} : {y} ({percentage:.1f}%)', layout: 'vertical',align: 'right'}, plotOptions: {
        pie: { allowPointSelect: true, cursor: 'pointer', dataLabels: {enabled: false}, showInLegend: true}},} %>
      <center class = "animation-hatch"><strong><%= t "admin.test_algorithms.title_training" %></strong></center>
    </div>
    <% end %>

    <% if @id3_algorithm[:test].present? %>
      <div class = "col-md-6">
        <%= pie_chart @id3_algorithm[:test], colors: ["rgb(144, 237, 125)", "rgb(247, 163, 92)", "rgb(255, 117, 153)" ], library: {legend: {labelFormat: '{name} : {y} ({percentage:.1f}%)', layout: 'vertical',align: 'right'}, plotOptions: {
          pie: { allowPointSelect: true, cursor: 'pointer', dataLabels: {enabled: false}, showInLegend: true}},} %>
        <center class = "animation-hatch"><strong><%= t "admin.test_algorithms.title_test" %></strong></center>
      </div>
    <% end %>
  </div>
</div>
