<tr id="knowledge-#{knowledge.id}">
  <td>
    <%= current_index @knowledges.current_page, Settings.per_page.admin.knowledge, knowledge_counter %>
  </td>
  <td><%= knowledge.fiction.name %></td>
  <td><%= knowledge.value %></td>
  <td><%= knowledge.classification.name %></td>
  <td><%= knowledge.probability %></td>
  <td class="text-center">
      <div class="btn-group btn-group-xs">
        <%= link_to [:admin, knowledge], class: "btn btn-default" do %>
          <i class="fa fa-eye"></i>
        <% end %>
      </div>
    </td>
</tr>
