<% provide :title, t("admin.knowledges.title") %>
<div class = "row">
  <div class = "block-title">

  </div>
  <div class = "block-content-full">

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= t"admin.rules.title_c45" %>
        </h3>
      </div>
      <div class="panel-body">
      <% if current_user.admin? %>
        <div class="row manage_user">
          <div class="col-md-6">
            <div class="users_button_group">
              <%= link_to admin_rules_path, method: :Post,
                class: "btn btn-md btn-success float_right create_rule" do %>
                <i class="gi gi-plus"></i> <%= t "admin.rules.create_rules_c45" %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class = "header-table-rules">
              <%= render "table_header" %>
            </thead>
            <tbody class = "rules-content">
              <% if @rules.present? %>
                <%= render(@rules) %>
              <% else %>
                <div class = "col-md-4 text-danger">
                  <i class="fa fa-fw fa-exclamation-triangle"></i>
                  <strong><%= t(".data_not_find") %></strong>
                </div>
              <% end %>
            </tbody>
          </table>
        </div>
        <center class = "paginate-items"><%= paginate @rules %></center>
      </div>
    </div>
  </div>
</div>

