<table id="general-table" class="table table-striped table-vcenter">
  <tbody>
    <tr>
      <td></td>
      <td><%= t "dashboard.user_groups.image" %></td>
      <td><%= t "dashboard.user_groups.name" %></td>
      <td><%= t "dashboard.user_groups.employee_code" %></td>
      <td><%= t "dashboard.user_groups.gender" %></td>
    </tr>
    <%= render partial: "list_member", collection: @users_inside,
      as: :user_group %>
  </tbody>
</table>
