<%= simple_form_for [:admin, @group], multipart: true do |f| %>
  <div class="form-group">
    <%= f.label :name, t("admin.groups.name"), class: "field-compulsory-before" %>
    <div>
      <%= f.text_field :name, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :user_id, t("admin.groups.owner"), class: "field-compulsory-before" %>
    <div>
      <%= f.select :user_id, User.all.collect { |user| [user.name, user.id] }, {}, {class: "form-control col-md-9"}%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :image, t("image") %>
    <%= f.file_field :image, accept: Settings.image_format_accept, class: "" %>
  </div>

  <div class = "form-group">
    <div class="text-center row">
      <%= f.button :submit, t("submit"), class: "col-md-offset-2 col-md-8 btn btn-primary" %>
    </div>
  </div>
<% end %>
