<div class="col-xs-3 col-sm-6 col-md-4 col-md-4">
  <div class="thumbnail product">
    <div class="caption">
      <% if current_user.is_owner_of_group?(group) %>
        <%= link_to group, class: "widget widget-hover-effect3" do %>
          <div class="img-caption text-center">
            <%= image_tag group.image_url, class: "image-group" %>
          </div>
        <% end %>
      <% else %>
        <div class="img-caption text-center">
          <%= image_tag group.image_url, class: "image-group" %>
        </div>
      <% end %>

      <h5>
        <%= t ".name" %>:
        <strong class="text-info"><%= group.name %></strong>
      </h5>

      <div class="btn-group btn-group-xs">
        <% if current_user.is_owner_of_group?(group) %>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target=<%= "#"+ "group-" + "#{group.id}" %>>
            <i class="gi gi-pencil"></i> <%= t "admin.groups.update_group" %>
          </button>
          <%= link_to group, class: "btn btn-info" do %>
            <i class="fa fa-cog"></i>
            <span><%= t "admin.groups.list_members" %></span>
          <% end %>
        <% end %>
        <% if current_user.admin? %>
          <%= link_to [:admin, group],
            method: :delete, class: "btn btn-danger", data: {confirm: t("are_you_sure")} do %>
            <i class="fa fa-trash"></i>
            <span><%= t "admin.groups.delete" %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id=<%= "group-" + "#{group.id}" %> class="modal fade" role="dialog">
  <div class="modal-dialog  modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t "admin.groups.update_group" %></h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [:admin, group], multipart: true do |f| %>
          <div class="form-group">
            <%= f.label :name, t("admin.groups.name"), class: "field-compulsory-before" %>
            <div>
              <%= f.text_field :name, required: true, class: "form-control" %>
            </div>
          </div>
          <% if current_user.admin? %>
            <div class="form-group">
              <%= f.label :user_id, t("admin.groups.owner"), class: "field-compulsory-before" %>
              <div>
                <%= f.select :user_id, get_owners.collect { |user| [user.name, user.id] }, {}, {class: "form-control col-md-9"}%>
              </div>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.label :image, t("image") %>
            <div class="text-center col-md-12">
              <%= image_tag group.image.url, class: "height-250 image-register", id: "img_prev" %>
              <%= f.file_field :image, accept: Settings.image_format_accept, class: "avatar-register" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :description, t("admin.groups.description"), class: "field-compulsory-before" %>
            <div>
              <%= f.text_area :description, class: "form-control ckeditor" %>
            </div>
          </div>

          <div class = "form-group">
            <div class="text-center row">
              <%= f.button :submit, t("submit"), class: "col-md-offset-2 col-md-8 btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

