<tr>
  <td class="width-5-percent">
    <% if current_user.is_owner_of_group? @group %>
      <%= check_box_tag user_group.user_id, user_group.user_id, false,
        class: "member-group" %>
    <% end %>
  </td>
  <td class="width-10-percent">
    <%= image_tag user_group.user_avatar.url, class: "img-scale img-circle avatar-member-group" %>
  </td>
  <td class="width-35-percent"><%= link_to user_group.user_name, user_group.user %></td>
  <td class="width-20-percent"><%= user_group.user_patient_code %></td>
  <td class="width-20-percent"><%= user_group.user_gender %></td>
</tr>
