<div class="table-responsive">
  <table id="general-table" class="table fixed_headers">
    <thead class = "active">
      <tr>
        <td></td>
        <td><%= t "dashboard.user_groups.image" %></td>
        <td><%= t "dashboard.user_groups.name" %></td>
        <td><%= t "dashboard.user_groups.employee_code" %></td>
        <td><%= t "dashboard.user_groups.gender" %></td>
      </tr>
    </thead>
  <tbody id = "group-members-content">
    <%= render partial: "list_member", collection: @users_inside,
      as: :user_group %>
  </tbody>
</table>
</div>

