<%= search_form_for @search, url: user_path, class: "form-inline search_form_user_diagnose" do |f| %>
<div class="form-group">
  <div class="form-group col-md-6">
    <%= f.text_field :patient_patient_code_or_patient_name_or_classification_name_or_owner_name_cont,
      placeholder: t("search.name_or_employee_code_or_email"),
      class: "form-control custom_size text_search" %>
  </div>
  <div class="form-group col-md-6">
    <%= f.select :type_diagnose_cont, Diagnose.type_diagnoses.collect { |key, value| [t("search.#{key}"), value] }, {include_blank: t("admin.diagnoses.type")}, {class: "form-control type_diagnoses_search"} %>
  </div>
</div>

<div class="form-group">
  <%= f.label :created_at_gteq, t("dashboard.users.from") %>
  <%= f.text_field :created_at_gteq,
    value: (l(@search.created_at_gteq, format: :date_month_year_v1) if @search.created_at_gteq.present?),
    class: "form-control datepicker1",
    placeholder: t("date_month_year_place") %>
  </div>
  <div class="form-group">
    <%= f.label :created_at_lteq, t("dashboard.users.to") %>
    <%= f.text_field :created_at_lteq,
      value: (l(@search.created_at_lteq, format: :date_month_year_v1) if @search.created_at_lteq.present?),
      class: "form-control datepicker1",
      placeholder: t("date_month_year_place") %>
  </div>
  <button type="button" class="btn btn-primary btn-md search_user_diagnose">
    <i class="gi gi-search"></i> <%= t("search.name_or_employee_code_or_email") %>
  </button>
<% end %>
