<% provide :title, t("login") %>
<!-- Login Background -->
<div id="login-background">
  <%= image_tag "background.jpg", class: "animation-pulseSlow" %>
</div>
<!-- END Login Background -->

<!-- Login Container -->
<div id="login-container" class="animation-fadeIn">
  <%= render "shared/flash" %>
  <!-- Login Title -->
  <div class="login-title text-center">
    <h1>
      <i class="gi gi-flash"></i>
      <strong><%= t "diagnostic" %></strong>
      <br>
      <small>
        <%= t "please" %>
        <strong><%= t "enter" %></strong>
        <strong><%= t "mail" %></strong>
      </small>
    </h1>
  </div>
  <!-- END Login Title -->

  <!-- Login Block -->
  <div class="block push-bit">
    <!-- Login Form -->
    <%= form_for resource, html: {class: "form-horizontal form-bordered form-control-borderless",
    method: :post}, as: resource_name,
    url: password_path(resource_name) do |f| %>
    <%= render "shared/error_message_devise", resource: resource %>

    <div class="form-group">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="gi gi-envelope"></i>
          </span>
          <div>
            <%= f.email_field :email, autofocus: true,
              class: "form-control", placeholder: t("email") %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group form-actions">
      <div class="col-md-offset-5">
        <%= f.submit t("send_mail"),
          class: "btn btn-sm btn-primary" %>
      </div>
    </div>
  <% end %>
    <!-- END Login Form -->
  </div>
  <!-- END Login Block -->

  <!-- Footer -->
  <footer class="text-warning text-center">
    <small><%= t "year" %></small>
    <small><%= t "by_education_framgia" %></small>
    <small><%= t "sub" %></small>
    <small><span class="green"><%= t "inc_all_rights_reserved" %></span></small>
  </footer>
  <!-- END Footer -->
</div>
<!-- END Login Container -->





















<h2>Forgot your password?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
