<div class="row">
  <div class="col-md-3 col-lg-3 " align="center">
    <%= image_tag @user.avatar.url, class: "height-250 image-register" %>
  </div>
  <div class=" col-md-9 col-lg-9 ">
    <table class="table table-hover">
      <tbody>
        <tr>
          <td>
            <strong>
            <i class="fa fa-barcode"></i><%= t "patient_code" %>
            </strong>
          </td>
          <td><%= @user.patient_code %></td>
        </tr>
        <tr>
          <td>
            <strong>
              <i class="fa fa-user"></i> <%= t "name" %>
            </strong>
          </td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>
            <strong>
              <i class="fa fa-user"></i> <%= t "role" %>
            </strong>
          </td>
          <td><%= t "role_#{@user.role}" %></td>
        </tr>
        <tr>
          <td>
            <strong>
              <i class="fa fa-envelope"></i> <%= t "email" %>
            </strong>
          </td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>
            <strong>
              <i class="gi gi-parents"></i> <%= t "gender" %>
            </strong>
          </td>
          <td><%= t "#{@user.gender}" %></td>
        </tr>
        <tr>
          <td>
            <strong>
              <i class="fa fa-birthday-cake"></i> <%= t "birthday" %>
            </strong>
          </td>
          <td>
            <%= l @user.birthday, format: :default if @user.birthday %>
          </td>
        </tr>
      </tbody>
    </table>
    <% if @user.is_user? current_user %>
    <%= link_to t("dashboard.users.edit_password"), edit_user_registration_path,
    class: "btn btn-primary" %>
    <% end %>

    <% if @user.is_user?(current_user) || current_user.admin? %>
    <%= link_to t("dashboard.users.edit_profile"), edit_user_path(@user), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

