<tr id="diagnose-#{diagnose.id}">
  <td>
    <%= current_index @diagnoses.current_page, Settings.per_page.admin.diagnose, diagnose_counter %>
  </td>
  <td><%= l diagnose.created_at, format: :format_datetime_picker_rb %></td>
  <td><%= diagnose.user_name %></td>
  <td><%= diagnose.classification_name %></td>
  <td><%= diagnose.result %></td>
  <td class="text-center">
      <div class="btn-group btn-group-xs">
        <%= link_to diagnose, class: "btn btn-default" do %>
          <i class="fa fa-eye"></i>
        <% end %>

        <%= link_to  edit_admin_diagnosis_path(diagnose), class: "btn btn-warning" do %>
          <i class="fa fa-pencil"></i>
        <% end %>

        <%= link_to [:admin, diagnose],
          method: :delete, class: "btn btn-danger", data: {confirm: t("are_you_sure")} do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </div>
    </td>
</tr>
