  <!-- Main Sidebar -->
  <div id="sidebar">
    <!-- Wrapper for scrolling functionality -->
    <div id="sidebar-scroll">
      <!-- Sidebar Content -->
      <div class="sidebar-content">
        <!-- Brand -->
        <a href="index.html" class="sidebar-brand">
          <i class="gi gi-flash"></i>
          <span class="sidebar-nav-mini-hide"><strong><%= t "diagnostic_title" %></strong><%= t "cancer_title" %></span>
        </a>
        <!-- END Brand -->

        <!-- User Info -->
        <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
          <div class="sidebar-user-avatar">
            <a href="page_ready_user_profile.html">
              <% if current_user.avatar.present? %>
                <%= image_tag current_user.avatar %>
              <% else %>
                <%= image_tag Settings.image_default %>
              <% end %>
            </a>
          </div>
          <div class="sidebar-user-name"><%= link_to current_user.name, current_user %></div>
          <div class="sidebar-user-links">
            <%= link_to user_path(current_user),
            data: {toggle: "tooltip", placement: "bottom"} do %>
            <i class="gi gi-user"></i>
          <% end %>

            <%= link_to destroy_user_session_path,method: :delete,
              data: {toggle: "tooltip", placement: "bottom"} do %>
              <i class="gi gi-exit"></i>
            <% end %>
          </div>
        </div>

        <!-- END Theme Colors -->

        <!-- Sidebar Navigation -->
        <ul class="sidebar-nav">
          <li>
            <%= link_to diagnoses_path do %>
                  <i class="gi gi-charts sidebar-nav-icon"></i>
                  <span class="sidebar-nav-mini-hide"><%= t("sidebar.diagnoses")%></span>
                <% end %>
          </li>
          <li class="active">
            <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-notes_2 sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide"><%= t "data" %></span></a>
            <ul>
              <li>
                <%= link_to admin_data_cancers_path do %>
                  <span class="sidebar-nav-mini-hide"><%= t("sidebar.data_cancers")%></span>
                <% end %>
              </li>
              <li>
                <%= link_to admin_fictions_path do %>
                  <span class="sidebar-nav-mini-hide"><%= t("sidebar.fictions")%></span>
                <% end %>
              </li>
              <li>
                <%= link_to admin_value_fictions_path do %>
                  <span class="sidebar-nav-mini-hide"><%= t("sidebar.value_fictions")%></span>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="sidebar-header">
            <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"><i class="gi gi-settings"></i></a></span>
            <span class="sidebar-header-title"><%= t("sidebar.action")%></span>
          </li>
          <li>
            <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-certificate sidebar-nav-icon"></i> <span class="sidebar-nav-mini-hide"><%= t("sidebar.manage_users")%></span></a>
            <ul>
              <li>
                <%= link_to admin_users_path do %>
                  <span class="sidebar-nav-mini-hide"><%= t("sidebar.users")%></span>
                <% end %>
              </li>
              <li>
                <%= link_to groups_path do %>
                  <span class="sidebar-nav-mini-hide"><%= t("sidebar.groups")%></span>
                <% end %>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-show_big_thumbnails sidebar-nav-icon"></i> <span class="sidebar-nav-mini-hide"><%= t("sidebar.manage_knowledges.title")%></span></a>
            <ul>
              <li>
                <%= link_to admin_knowledges_path do %>
                  <span class="sidebar-nav-mini-hide"><%= t("sidebar.manage_knowledges.naive_bayes")%></span>
                <% end %>
              </li>
              <li>
                <%= link_to admin_rules_path do %>
                  <span class="sidebar-nav-mini-hide"><%= t("sidebar.manage_knowledges.c45_algorithm")%></span>
                <% end %>
              </li>
              <li>
                <%= link_to admin_rule_id3s_path do %>
                  <span class="sidebar-nav-mini-hide"><%= t("sidebar.manage_knowledges.id3_algorithm")%></span>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
        <!-- END Sidebar Navigation -->
      </div>
      <!-- END Sidebar Content -->
    </div>
    <!-- END Wrapper for scrolling functionality -->
  </div>
  <!-- END Main Sidebar -->
