<!DOCTYPE html>
<html ng-app="AngularCasts">
<head>
  <title><%= full_title yield :title %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all",
  "data-turbolinks-track": "reload" %>
  <%= javascript_include_tag "application",
  "data-turbolinks-track": "reload" %>
</head>
<body>
  <% if user_signed_in? %>
  <div id = "content-application">
    <div id="page-container">
      <%= render "layouts/header" %>
      <%= render "layouts/media_container" %>
      <div class = "content-user">
        <div class = "col-md-offset-1 col-md-10">
          <%= render "shared/flash" %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <%= render "layouts/footer" %>
  <% else %>
  <section>
    <%= render "layouts/header" %>
    <%= render "shared/flash"%>
    <%= yield %>
  </section>
  <% end %>
  <script type='text/javascript'>window._sbzq||function(e){e._sbzq=[];var t=e._sbzq;t.push(["_setAccount",63952]);var n=e.location.protocol=="https:"?"https:":"http:";var r=document.createElement("script");r.type="text/javascript";r.async=true;r.src=n+"//static.subiz.com/public/js/loader.js";var i=document.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)}(window);</script>

</body>
</html>
